
.banner {
    background-image: url('../assets/_JAG3016-1.jpg');
    height: 200px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(231, 228, 228);
}

.banner h1 {
    font-size: 2.5rem;
}


@media (max-width: 768px) {
    .banner {
    background-image: url('../assets/_JAG2881.jpg');
    height: 200px; 
    align-items: flex-start;
    }

    .banner h1 {
    font-size: 1.8rem; 
    }
}
