:root {
    --bg-color: #121212; 
    --main-brand-color: #00796b; 
    --main-font-color: #f0f0f0; 
    --secondary-color: #ffcc80; 
}



.main-bg {
    background-color: var(--bg-color);
    color: var(--main-font-color);
    padding-top: 60px;
}

#video-loop video {
    width: 100%;
    height: auto; /* Ajusta la altura según el ancho */
}
