


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--main-brand-color);
}

input,
textarea {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    border: 2px solid var(--main-brand-color);
    border-radius: 5px;
    background-color: #2b2b2b;
    color: white;
}

textarea {
    resize: vertical;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--main-brand-color);
    margin-bottom: 10px;
}


.radio-group {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.radio-item {
    display: flex;
    align-items: center;
}

.radio-item input[type="radio"] {
    margin-right: 10px; 
}

input[type="radio"] {
    margin-right: 5px;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--main-brand-color);
    color: white;
    transition: background-color 0.3s;
}

button[type="reset"] {
    background-color: #ff4b4b;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover {
    background-color: #d43f3f;
}

input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
}
